<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>
</head>
<body>
  
    <header><h1><a href = "/">Welcome to your page of bookmarks! </a></h1></header>
    <h2 ><a  href = "./login"> login </a></h2>
    <div> <hr>
        <form action="/search" method="post">
        <input type="text" placeholder="Search Categories" name="Search">
        <button type="submit" >Search! </button>
        </form>
         <ul>
            <% bookmarks.map((bookmarks,index) =>{  %>
                <li id ='bookmarks'><h5> <%=`${bookmarks.url}` %> </h5>
                   <p><strong> <%=`${bookmarks.categories}` %> </strong></p>
                    <!-- <p><%=`${bookmarks.comment}` %> </p></li> -->
                <form method ="post" action="/bookmarks/<%=bookmarks.id%>?_method=DELETE">
                <button type="submit" id="<%= index %>" >Delete</button>
            </form>
            <form method ="get" action="/bookmarks/<%=bookmarks.id%>?_method=UPDATE">
            
                <button type="submit" id="<%= index %> " >Update</button>
            </form>

               <% }) %> 
            </ul>
        
        <hr>
        <h2>Enter your new bookmark!</h2>
            <form method="post" action="/addUrl">
                <input name = "bookmarkUrl" placeholder="Enter URL" id="inputBookmark"><br>
                <input name = "categories" placeholder="Enter Category" id="inputCategory"><br>
                <button name = 'submit' id="submit">Submit</button>
            </form>

        
    </div>

</body>
</html>